<h2 id="description" data-l10n="description.heading">{{presskit.descriptionHeading}}</h2>

<div class="description-copy">
  <section class="description-summary" aria-labelledby="short-description-title">
    <h3 id="short-description-title" data-l10n="description.short.title">{{presskit.shortDescriptionTitle}}</h3>
    <p data-l10n="description.short.text">{{presskit.shortDescription}}</p>
  </section>

  <section class="description-long" aria-labelledby="long-description-title">
    <h3 id="long-description-title" data-l10n="description.long.title">{{presskit.longDescriptionTitle}}</h3>
    {{#each presskit.longDescriptions}}
    <p data-l10n="description.long.paragraphs.{{@index}}">{{.}}</p>
    {{/each}}

    {{#if presskit.keyFeatures}}
    <div class="description-inline-features">
      {{#each presskit.keyFeatures}}
      <section class="description-inline-feature">
        <h4 data-l10n="description.keyFeatures.{{@index}}.title">{{title}}</h4>
        <p data-l10n="description.keyFeatures.{{@index}}.body">{{body}}</p>
      </section>
      {{/each}}
    </div>
    {{/if}}
  </section>
</div>
