<aside class="factsheet grid__item">
  <h2 id="factsheet" class="factsheet__title" data-l10n="ui.factsheet.title">Factsheet</h2>

  {{#if isCompany}}
  <dl class="factsheet__list">
    <dt>Developer:</dt>
    <dd>
      <a href=".">{{presskit.title}}</a>
    </dd>
    {{#if presskit.basedIn}}
    <dd>Based in {{presskit.basedIn}}</dd>
    {{/if}}

    {{#if presskit.foundingDate}}
    <dt>Founding date:</dt>
    <dd>{{presskit.foundingDate}}</dd>
    {{/if}}

    {{#if presskit.website}}
    <dt>Website:</dt>
    <dd>
      <a href="{{presskit.website}}">{{prettyURL presskit.website}}</a>
    </dd>
    {{/if}}

    {{#if presskit.pressContact}}
    <dt>Press / Business contact:</dt>
    <dd>
      <a href="mailto:{{presskit.pressContact}}">{{presskit.pressContact}}</a>
    </dd>
    {{/if}}

    {{#if presskit.socials}}
    <dt>Social:</dt>
    {{#each presskit.socials}}
    <dd>
      <a href="{{link}}">{{name}}</a>
    </dd>
    {{/each}}
    {{/if}}

    {{#if products}}
    <dt>Releases:</dt>
    {{#each products}}
    <dd>
      <a href="{{permalink path}}">{{title}}</a>
    </dd>
    {{/each}}
    {{/if}}

    {{#if presskit.address.line}}
    <dt>Address:</dt>
    {{#each presskit.address.line}}
    <dd>{{.}}</dd>
    {{/each}}
    {{/if}}

    {{#if presskit.phone}}
    <dt>Phone:</dt>
    <dd>{{presskit.phone}}</dd>
    {{/if}}
  </dl>
  {{/if}}

  {{#if isProduct}}
  <dl class="factsheet__list">
    {{#if presskit.about}}
    <dt data-l10n="ui.factsheet.labels.about">About:</dt>
    <dd data-l10n="ui.factsheet.values.about">{{presskit.about}}</dd>
    {{/if}}

    {{#if company.title}}
    <dt data-l10n="ui.factsheet.labels.developer">Developer:</dt>
    <dd>
      <a href="..">{{company.title}}</a>
    </dd>
    {{#if company.basedIn}}<dd data-l10n="ui.factsheet.values.based_in">Based in {{company.basedIn}}</dd>{{/if}}
    {{/if}}

    {{#if presskit.development}}
    <dt data-l10n="ui.factsheet.labels.development">Development:</dt>
    <dd data-l10n="ui.factsheet.values.development">{{presskit.development}}</dd>
    {{/if}}

    {{#if presskit.developers}}
    <dt data-l10n="ui.factsheet.labels.developers">Developers:</dt>
    <dd data-l10n="ui.factsheet.values.developers">{{presskit.developers}}</dd>
    {{/if}}

    {{#if presskit.publisher}}
    <dt data-l10n="ui.factsheet.labels.publisher">Publisher:</dt>
    <dd data-l10n="ui.factsheet.values.publisher">{{presskit.publisher}}</dd>
    {{/if}}

    {{#each presskit.partners}}
    <dt>{{type}}:</dt>
    <dd>
      {{#if website}}
        <a href="{{website}}">{{title}}</a>
      {{else}}
        {{title}}
      {{/if}}
    </dd>
    {{#if basedIn}}<dd>Based in {{basedIn}}</dd>{{/if}}
    {{/each}}

    {{#if presskit.releaseDates}}
    <dt data-l10n="ui.factsheet.labels.release_date">Release date:</dt>
    {{#each presskit.releaseDates}}
    <dd data-l10n="ui.factsheet.release_dates.{{@index}}">{{.}}</dd>
    {{/each}}
    {{/if}}

    {{#if presskit.genres}}
    <dt data-l10n="ui.factsheet.labels.genres">Genres:</dt>
    {{#each presskit.genres}}
    <dd data-l10n="ui.factsheet.genres_items.{{@index}}">{{.}}</dd>
    {{/each}}
    {{/if}}

    {{#if presskit.platforms}}
    <dt data-l10n="ui.factsheet.labels.platforms">Platforms:</dt>
    {{#each presskit.platforms}}
    <dd data-l10n="ui.factsheet.platforms_items.{{@index}}">
      {{#if link}}
        <a href="{{link}}">{{name}}</a>
      {{else}}
        {{name}}
      {{/if}}
    </dd>
    {{/each}}
    {{/if}}

    {{#if presskit.cost}}
    <dt data-l10n="ui.factsheet.labels.cost">Cost:</dt>
    <dd data-l10n="ui.factsheet.values.cost">{{presskit.cost}}</dd>
    {{/if}}

    {{#if presskit.steamLink}}
    <dt data-l10n="ui.factsheet.labels.steam">Steam:</dt>
    <dd>
      {{#if presskit.steamLink.url}}
        <a href="{{presskit.steamLink.url}}" data-l10n="ui.factsheet.values.steam">{{presskit.steamLink.label}}</a>
      {{else}}
        <span data-l10n="ui.factsheet.values.steam">{{presskit.steamLink.label}}</span>
      {{/if}}
    </dd>
    {{/if}}

    {{#if presskit.trailerLink}}
    <dt data-l10n="ui.factsheet.labels.trailer">Trailer:</dt>
    <dd>
      {{#if presskit.trailerLink.url}}
        <a href="{{presskit.trailerLink.url}}" data-l10n="ui.factsheet.values.trailer">{{presskit.trailerLink.label}}</a>
      {{else}}
        <span data-l10n="ui.factsheet.values.trailer">{{presskit.trailerLink.label}}</span>
      {{/if}}
    </dd>
    {{/if}}

    {{#if presskit.preViewLink}}
    <dt data-l10n="ui.factsheet.labels.preview">Pre-view:</dt>
    <dd>
      {{#if presskit.preViewLink.url}}
        <a href="{{presskit.preViewLink.url}}" data-l10n="ui.factsheet.values.preview">{{presskit.preViewLink.label}}</a>
      {{else}}
        <span data-l10n="ui.factsheet.values.preview">{{presskit.preViewLink.label}}</span>
      {{/if}}
    </dd>
    {{/if}}

    {{#if presskit.pressKitLink}}
    <dt data-l10n="ui.factsheet.labels.press_kit">Press Kit:</dt>
    <dd>
      {{#if presskit.pressKitLink.url}}
        <a href="{{presskit.pressKitLink.url}}" data-l10n="ui.factsheet.values.press_kit">{{presskit.pressKitLink.label}}</a>
      {{else}}
        <span data-l10n="ui.factsheet.values.press_kit">{{presskit.pressKitLink.label}}</span>
      {{/if}}
    </dd>
    {{/if}}

    {{#if presskit.website}}
    <dt data-l10n="ui.factsheet.labels.website">Website:</dt>
    <dd>
      <a href="{{presskit.website}}">{{prettyURL presskit.website}}</a>
    </dd>
    {{/if}}

    {{#if presskit.prices}}
    <dt>Regular Price:</dt>
    {{#each presskit.prices}}
    <dd>{{currency}} {{value}}</dd>
    {{/each}}
    {{/if}}

    {{#each presskit.relations}}
    <dt>{{type}}:</dt>
    <dd>
      <a href="{{permalink path}}">{{text}}</a>
    </dd>
    {{/each}}

    {{#each presskit.relationOf}}
    <dt>{{type}} of:</dt>
    <dd>
      <a href="{{permalink path}}">{{text}}</a>
    </dd>
    {{/each}}
  </dl>

  {{#if presskit.pressCopyRequest}}
  <p class="press">
    <a href="{{presskit.pressCopyRequest}}" class="button" tabindex="0">
      Request Press Copy
    </a>
  </p>
  {{/if}}
  {{/if}}
</aside>
