<nav class="page-nav nav grid__item">
  <h1 class="nav__title">
    {{#if isCompany}}
    <a href=".">{{presskit.title}}</a>
    {{else}}
    <a class="nav__brand" href=".">
      <img class="nav__brand-icon" src="images/logo-site-icon.png" alt="{{presskit.title}} icon">
      <span>{{presskit.title}}</span>
    </a>
    {{/if}}
  </h1>

  {{#if isCompany}}
  <aside class="nav__subtitle">
    {{#if presskit.website}}
    <a href="{{presskit.website}}">{{prettyURL presskit.website}}</a>
    {{/if}}
  </aside>
  {{/if}}

  <div class="nav__toggle" id="hamburger">
    <a href="#" class="button" id="hamburger-toggle">
      <svg width="10" height="10" viewBox="0 0 19 19" xmlns="http://www.w3.org/2000/svg">
        <g fill="currentColor" fill-rule="nonzero">
          <path d="M0 16h19v3H0zM0 8h19v3H0zM0 0h19v3H0z" />
        </g>
      </svg>
      &nbsp;Menu
    </a>
  </div>

  <ul class="nav__list" id="hamburger-target">
    {{#if presskit.navSections}}
      {{#each presskit.navSections}}
      <li><a class="nav__item" href="{{href}}">{{title}}</a></li>
      {{/each}}
    {{else}}
      <li><a class="nav__item" href="#factsheet">Factsheet</a></li>

      {{#if presskit.description}}
      <li><a class="nav__item" href="#description">Description</a></li>
      {{/if}}

      {{#if products}}
      <li><a class="nav__item" href="#projects">Projects</a></li>
      {{/if}}

      {{#if presskit.widgets.mailchimp}}
      <li><a class="nav__item" href="#mailing-list">Mailing List</a></li>
      {{/if}}

      {{#if presskit.trailers}}
      <li><a class="nav__item" href="#media">Media</a></li>
      {{else}}
        {{#if hasScreenshots}}
        <li><a class="nav__item" href="#media">Media</a></li>
        {{/if}}
      {{/if}}

      {{#if images.logos}}
      <li><a class="nav__item" href="#logo">Branding</a></li>
      {{/if}}

      {{#if presskit.widgets}}
      <li><a class="nav__item" href="#widgets">Widgets</a></li>
      {{/if}}

      {{#if presskit.awards}}
      <li><a class="nav__item" href="#awards">Awards & Recognition</a></li>
      {{/if}}

      {{#if presskit.quotes}}
      <li><a class="nav__item" href="#articles">Selected Articles</a></li>
      {{/if}}

      {{#if presskit.additionals}}
      <li><a class="nav__item" href="#links">Additional Links</a></li>
      {{/if}}

      <li><a class="nav__item" href="#credits">Team</a></li>
    {{/if}}
  </ul>
</nav>
