<section class="block grid team-block">
  {{#if presskit.showTeamSection}}
  {{#if presskit.team}}
  <article class="grid__item grid__item--flexible team-card">
    <h2 id="credits">Team</h2>

    {{#if presskit.team.aboutTitle}}
    <h3>{{presskit.team.aboutTitle}}</h3>
    <dl>
      <dt>{{presskit.team.boilerplateTitle}}</dt>
      <dd>{{presskit.team.boilerplate}}</dd>
    </dl>
    {{/if}}

    <h3>{{presskit.team.creditsTitle}}</h3>
    {{#if presskit.credits}}
    <dl>
      {{#each presskit.credits}}
      <dt>{{person}}</dt>
      <dd>
        {{#if website}}
          <a href="{{website}}">{{role}}</a>
        {{else}}
          {{role}}
        {{/if}}
      </dd>
      {{/each}}
    </dl>
    {{else}}
    <p>{{presskit.team.credits}}</p>
    {{/if}}
  </article>
  {{else}}
  <article class="grid__item grid__item--flexible team-card">
    <h2 id="credits">Team</h2>

    {{#if company.title}}
    <h3>About {{company.title}}</h3>
    <dl>
      <dt>Boilerplate</dt>
      <dd>{{company.description}}</dd>
    </dl>
    {{/if}}

    <h3>Credits</h3>
    <p>Team credits are currently [TBD].</p>
  </article>
  {{/if}}
  {{/if}}

  {{#if presskit.showContactSection}}
  {{#if presskit.contacts}}
  <article class="grid__item grid__item--flexible team-card team-card--contact">
    <h2 id="contact">Contact</h2>

    <dl>
      {{#each presskit.contacts}}
      <dt>{{name}}</dt>
      <dd>
        {{#if mail}}
        <a href="mailto:{{mail}}">{{mail}}</a>
        {{/if}}

        {{#if link}}
        <a href="{{link}}">{{prettyURL link}}</a>
        {{/if}}
      </dd>
      {{/each}}
    </dl>
  </article>
  {{/if}}
  {{/if}}
</section>

